.logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }
  
  .site-layout-sub-header-background {
    background: #fff;
  }
  
  .site-layout-background {
    background: #fff;
  }

  body{
    background: #E9EAED;
    overflow-x: hidden;
    height: 100vh;
    line-height: 1.5;
  }
  *{box-sizing: border-box;}