.card {
    box-shadow: 0px 1px 0px rgba(255, 255, 255, .1), inset 0px 1px 1px rgba(0, 0, 0, .7);
    border-radius: 3px;
    background: url(../../../assets/images/quote-bg.png) no-repeat top right rgba(42, 42, 42, 1);
    height: 260px;
    overflow: hidden;
    margin-bottom: 20px;
    padding: 10px;
    h2 {
        font-size: 1.4rem;
        color: #89919a;
        font-weight: normal;
        padding-bottom: 10px;
    }
    p {
        font-size: 0.8rem;
        padding: 0 0 0 10px;
        line-height: 28px;
        text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
        color: #d0d2d4;
        margin: 0;
    }
}
.accountBox{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.account {
    background-color: #999;
    margin-left: .6rem;
    margin-right: .6rem;
    text-align: center;
}